*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.head{
    color: rebeccapurple;
    display: flex;
    position: absolute;
    left: 40%;
    margin-bottom: 50px;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{

    width: 100%;
}
@media screen and (max-width:500px){
    .head h1{
        position: absolute;
        left: 30%;
        font-size: 30px;
    }
    .gallery{
        margin-top: 20px;
    }
}